---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog - Xavier Pisco">
  <main
    slot="main-content"
    class="h-fit min-h-full flex flex-col gap-8 place-content-center justify-center align-center items-center"
  >
    <h1 class="text-6xl lg:text-4xl">Wow! It's empty!</h1>
  </main>
</Layout>
