---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Xavier Pisco">
  <main
    slot="main-content"
    class="h-full flex flex-col gap-8 place-content-center justify-center align-center items-center"
  >
    <h1>Informatics and Computer Engineering Student</h1>
    <h2>
      Computer lover who is studing at FEUP mostly interested in Linux, Backend
      and Process Automation
    </h2>
    <img src="images/avatar.png" class="h-80 w-80" />
  </main>
</Layout>
