---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Xavier Pisco">
  <main
    slot="main-content"
    class="h-full flex flex-col gap-24 lg:gap-8 place-content-center justify-center align-center items-center"
  >
    <h1 class="text-6xl leading-tight lg:text-4xl font-bold text-center">Informatics and Computer Engineering Student</h1>
    <h2 class="text-5xl leading-normal lg:text-xl text-center">
      Computer lover who is studing at FEUP mostly interested in Linux, Backend
      and Embedded Systems
    </h2>
    <img src="images/avatar.png" class="apsect-square w-3/4 lg:w-80" />
  </main>
</Layout>
