---
---

<div
  class="flex flex-col lg:flex-row items-center lg:items-start gap-8 lg:gap-0 shadow-lg w-full h-fit min-h-full"
>
  <slot name="image" />
  <div class="flex flex-col gap-4 w-full p-4 h-fit min-h-full">
    <div class="flex flex-row place-content-between w-full">
      <div class="flex flex-col gap-2 text-4xl lg:text-2xl">
        <slot name="title" />
      </div>
      <div
        class="flex flex-col gap-2 text-xl lg:text-base text-right text-gray min-w-fit"
      >
        <slot name="top-right" />
      </div>
    </div>
    <ul
      class="flex flex-col gap-8 p-8 lg:p-4 text-2xl lg:text-base list-disc marker:text-blue marker:text-4xl lg:marker:text-xl"
    >
      <slot name="box-body-li" />
    </ul>
    <ul class="flex flex-row gap-4 text-xl lg:text-sm">
      <slot name="tags" />
    </ul>
  </div>
</div>
