---
import Logo from './Logo.astro';

const classnames = 'text-blue text-2xl';
---

<div class="flex flex-row p-4">
  <Logo />
  <div class="grow"></div>
  <div class="flex flex-row gap-8">
    <a href="/" class={classnames}> Home</a>
    <a href="/projects" class={classnames}> Projects</a>
    <a href="/cv" class={classnames}> CV</a>
    <a href="/blog" class={classnames}> Blog</a>
  </div>
</div>
